<form class="example-form">
  <h1 mat-dialog-title>XÁC NHẬN</h1>
  <div>
    <span>Chúng tôi đã gửi mail tại tài khoản mail bạn đăng ký.</span>
    <br>
    <span>Vui lòng xác nhận để kích hoạt tài khoản.</span>
  </div>
  <div mat-dialog-actions [align]="'end'">
    <button (click)="openSignIn()" mat-raised-button color="primary">Đăng Nhập</button>
    <a mat-raised-button color="warn" value="Đi Tới Gmail" target="_blank"
       href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox">Đi Tới Gmail</a>
  </div>
</form>
