<form class="example-form" style="justify-content: center" [formGroup]="formSignUp"
  (ngSubmit)="formSignUp.valid && createAccount()" novalidate>
  <h1 mat-dialog-title>ĐĂNG KÝ</h1>
  <mat-error id="error-form-sign-up"></mat-error>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Họ & Tên</mat-label>
    <input type="text" matInput formControlName="name">
    <mat-error *ngIf="formSignUp.hasError('required','name')">
      Không được bỏ trống!
    </mat-error>
    <mat-icon matSuffix>perm_identity</mat-icon>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Email</mat-label>
    <input type="email" matInput placeholder="Ex. pat@example.com" formControlName="gmail" required>
    <mat-error *ngIf="formSignUp.hasError('email','gmail') && !formSignUp.hasError('required','gmail')">
      Vui lòng nhập <strong>email</strong> hợp lệ!
    </mat-error>
    <mat-error *ngIf="formSignUp.hasError('required','gmail')">
      Không được bỏ trống!
    </mat-error>
    <mat-icon matSuffix>email</mat-icon>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Mật Khẩu</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"  required minlength="6" maxlength="8">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="formSignUp.hasError('minlength','password') ||
                      formSignUp.hasError('maxlength','password') &&
                      !formSignUp.hasError('required','password')">
      Mật khẩu từ <strong>6 đến 8</strong> ký tự!
    </mat-error>
    <mat-error *ngIf="formSignUp.hasError('required','password')">
      Không được bỏ trống!
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Xác Nhận Mật Khẩu</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="rePassword"  required minlength="6" maxlength="8">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="formSignUp.hasError('minlength','rePassword') ||
                      formSignUp.hasError('maxlength','rePassword') &&
                      !formSignUp.hasError('required','rePassword')">
      Mật khẩu từ <strong>6 đến 8</strong> ký tự!
    </mat-error>
    <mat-error *ngIf="formSignUp.hasError('required','rePassword')">
      Không được bỏ trống!
    </mat-error>
    <mat-error *ngIf="formSignUp.hasError('confirmedValidator','rePassword')">
      Mật khẩu không trùng. Vui lòng nhập lại!</mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Số Điện Thoại</mat-label>
    <input type="tel" matInput formControlName="phone_number" required minlength="10" maxlength="10">
    <mat-error *ngIf="formSignUp.hasError('minlength','phone_number') ||
                      formSignUp.hasError('maxlength','phone_number') &&
                      !formSignUp.hasError('required','phone_number')">
      Số điện thoại <strong>10</strong> số!
    </mat-error>
    <mat-error *ngIf="formSignUp.hasError('required','phone_number')">
      Không được bỏ trống!
    </mat-error>
    <mat-icon matSuffix>phone</mat-icon>
  </mat-form-field>
  <br>
  <div mat-dialog-actions [align]="'end'">
    <button (click)="openSignIn()" mat-raised-button>Quay Lại</button>
    <button type="submit" mat-raised-button color="primary">Đăng Ký</button>
  </div>
</form>
