<div class="hero-wrap js-fullheight" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/b9/Tam_Coc_taken_by_Harmony_Hiro.jpg'); height: 680px">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
      <div class="col-md-9 text-center" style="margin-top: 24%">
<!--        <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span-->
<!--          class="mr-2"><a routerLink="home">Trang Chủ</a></span>|<span>&nbsp;Chuyến Đi</span></p>-->
<!--        <br>-->
        <h1 class="mb-3 bread" style="font-size: 70px">Chuyến đi</h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section ftco-degree-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 sidebar">
        <div class="sidebar-wrap bg-light ">
          <h3 class="heading mb-4">Đánh giá của tôi</h3>
          <form method="post" class="star-rating">
            <div class="form-check">
              <label class="form-check-label">
                <p class="rate">
                  <span>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <span>3.8</span>
                  </span>
                </p>
              </label>
            </div>
          </form>
        </div>
      </div>

      <!--My Trip-->
      <div class="col-lg-9">
        <div class="col-md-12 hotel-single  mb-5 mt-5">
          <h4 class="mb-9">Những chuyến đi</h4>
          <div class="row">
            <div class="col-md-12" *ngFor="let m of myBill">
              <div class="destination">
                <div class="text p-3">
                  <div class="d-flex">
                    <div class="one" style="width: 600px">
                      <h3><a href="hotel-single.html">{{m.homestayName}}</a></h3>
                      <p *ngIf="m.roundRate == null" class="rate">
                        <i class="icon-star-o"></i>
                        <i class="icon-star-o"></i>
                        <i class="icon-star-o"></i>
                        <i class="icon-star-o"></i>
                        <i class="icon-star-o"></i>
                        <span>Chưa có đánh giá</span>
                      </p>
                      <p *ngIf="m.roundRate == 0" class="rate">
                        <i class="icon-star-o"></i>
                        <i class="icon-star-o"></i>
                        <i class="icon-star-o"></i>
                        <i class="icon-star-o"></i>
                        <i class="icon-star-o"></i>
                        <span>{{m.avgRate}} Sao</span>
                      </p>
                      <p *ngIf="m.roundRate == 1" class="rate">
                        <i class="icon-star"></i>
                        <i class="icon-star-o"></i>
                        <i class="icon-star-o"></i>
                        <i class="icon-star-o"></i>
                        <i class="icon-star-o"></i>
                        <span>{{m.avgRate}} Sao</span>
                      </p>
                      <p *ngIf="m.roundRate == 2" class="rate">
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star-o"></i>
                        <i class="icon-star-o"></i>
                        <i class="icon-star-o"></i>
                        <span>{{m.avgRate}} Sao</span>
                      </p>
                      <p *ngIf="m.roundRate == 3" class="rate">
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star-o"></i>
                        <i class="icon-star-o"></i>
                        <span>{{m.avgRate}} Sao</span>
                      </p>
                      <p *ngIf="m.roundRate == 4" class="rate">
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star-o"></i>
                        <span>{{m.avgRate}} Sao</span>
                      </p>
                      <p *ngIf="m.roundRate == 5" class="rate">
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <span>{{m.avgRate}} Sao</span>
                      </p>
                    </div>
                    <div class="two">
                      <span class="price per-price">{{m.price | currency :'đ' :true: '1.0-0'}}</span>
                    </div>
                  </div>
                  <p>Ngày đặt: <span>{{m.regisDate}}</span></p>
                  <p>Ngày bắt đầu: <span>{{m.startDate}}</span> - Ngày kết thúc: <span>{{m.endDate}}</span></p>
                  <hr>
                  <p class="bottom-area d-flex">
                    <span *ngIf="m.statusHomeId == 1" class="ml-auto">
                      <button class="btn btn-primary" *ngIf="!onCheckToday(m.startDate)" style="margin-left: 500px" (click)="openCancellingInvoiceClient(m)">Hủy</button>
                      <button class="btn btn-warning" disabled>Chờ xác nhận</button></span>
                    <span *ngIf="m.statusHomeId == 2" class="ml-auto">
                       <button class="btn btn-primary" *ngIf="!onCheckToday(m.startDate)" style="margin-left: 450px" (click)="openCancellingInvoiceClient(m)">Hủy</button>
                      <button class="btn btn-warning" (click)="openCheckInBill(m)">Nhận phòng</button>
                      <button class="btn btn-success" disabled>Đã xác nhận</button></span>
                    <span *ngIf="m.statusHomeId == 3" class="ml-auto">
                      <button class="btn btn-warning" *ngIf="onCheckToday(m.endDate)" style="margin-left: 500px" (click)="openCheckOutBill(m)">Trả phòng</button>
                      <button class="btn btn-info" disabled>Đang ở</button></span>
                    <span *ngIf="m.statusHomeId == 4" class="ml-auto">
                      <button *ngIf="m.exist == true" disabled class="btn btn-danger" style="margin-left: 600px" (click)="openRate(m.homeId)">Đánh giá</button>
                      <button *ngIf="m.exist == false" class="btn btn-danger" style="margin-left: 600px" (click)="openRate(m.homeId)">Đánh giá</button>
                    </span>
                    <span *ngIf="m.statusHomeId == 4" class="ml-auto">
                      <button class="btn btn-dark" disabled>Đã trả</button></span>
                    <span *ngIf="m.statusHomeId == 5" class="ml-auto">
                      <button class="btn btn-dark" style="margin-left: 600px" disabled>Đã hủy</button></span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
