<form class="example-form" [formGroup]="formHome">
  <h1 mat-dialog-title>THÊM NHÀ</h1>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Tên Nhà</mat-label>
    <input type="text" matInput formControlName="name" name="name" required>
    <mat-error *ngIf="formHome.hasError('required', 'name')">
      Không được bỏ trống
    </mat-error>
  </mat-form-field>
  <section class="example-section">
    <label class="example-margin" >Loại Phòng:</label>
    <mat-radio-group formControlName="homestay_type" name="homestay_type">
      <mat-radio-button class="example-margin"  style="margin-left: 30px"
                        *ngFor="let homestay of homestayTypes" value="{{homestay.id}}">{{homestay.name}}</mat-radio-button>
      <mat-error *ngIf="formHome.hasError('required', 'homestay_type')">
        Không được bỏ trống
      </mat-error>
    </mat-radio-group>
  </section>
  <div class="row">
    <div class="col-lg-7">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Địa Chỉ</mat-label>
        <input type="text" matInput formControlName="address" name="address" required>
        <mat-error *ngIf="formHome.hasError('required', 'address')">Không được bỏ trống</mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg-4">
      <mat-form-field appearance="outline">
        <mat-label >Thành Phố</mat-label>
        <mat-select  formControlName="city" name="city" required>
          <mat-option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="formHome.hasError('required', 'city')">
          Vui lòng chọn thành phố!
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
        <div class="col-lg-4">
          <mat-form-field appearance="outline">
            <mat-label>Số Lượng Phòng Ngủ</mat-label>
            <mat-select formControlName="bed_room" name="bed_room" required>
              <mat-option value="1">1 Phòng</mat-option>
              <mat-option value="2">2 Phòng</mat-option>
              <mat-option value="3">3 Phòng</mat-option>
              <mat-option value="4">4 Phòng</mat-option>
              <mat-option value="5">5 Phòng</mat-option>
              <mat-option value="6">6 Phòng</mat-option>
              <mat-option value="7">7 Phòng</mat-option>
              <mat-option value="8">8 Phòng</mat-option>
              <mat-option value="9">9 Phòng</mat-option>
              <mat-option value="10">10 Phòng</mat-option>
            </mat-select>
            <mat-error *ngIf="formHome.hasError('required', 'bed_room')">
              Vui lòng chọn số phòng ngủ!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field appearance="outline">
            <mat-label>Số Lượng Phòng Tắm</mat-label>
            <mat-select formControlName="bath_room" name="bath_room" required>
          <mat-option value="1">1 Phòng</mat-option>
          <mat-option value="2">2 Phòng</mat-option>
          <mat-option value="3">3 Phòng</mat-option>
        </mat-select>
            <mat-error *ngIf="formHome.hasError('required', 'bath_room')">
              Vui lòng chọn số phòng tắm!
            </mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg-4">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Giá tiền</mat-label>
        <input type="number" matInput placeholder="VNĐ" formControlName="price" name="price" required>
        <mat-error *ngIf="formHome.hasError('required', 'price')">
          Không được bỏ trống
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Mô tả</mat-label>
    <textarea matInput formControlName="description" name="description"></textarea>
  </mat-form-field>
  <div mat-dialog-actions [align]="'end'">
    <button mat-raised-button mat-dialog-close>Đóng</button>
    <button (click)="createHome()" type="submit" mat-raised-button color="primary">Xác nhận</button>
  </div>
</form>

