<form class="example-form">
  <h1 mat-dialog-title>Thông báo</h1>

  <div class="row">
    <div class="col-md-12" style="padding: 0">
      <div class="container-table row" style="width: 100%; margin: 0">
        <div>
          <table mat-table [dataSource]="dataSource" matSort style="width: 480px">

            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header hidden> ID </th>
              <td mat-cell *matCellDef="let row">
                <div *ngIf="row.status == 0" class="my-notify-hover" style="width: 480px; height: 80px; background-color: #f44336" (click)="editNotify(row.id)">
                  <div class="my-notify item">
                    <div class="testimony-wrap d-flex" style="width: 460px; height: 80px; padding: 10px 0 10px 10px">
                      <div class="user-img mb-5" style="width: 80px">
                        <img src="{{row.bill.account.avatar_url}}" alt=""
                             style="border-radius: 50%; width: 50px; height: 50px">
                      </div>
                      <div class="">
                        <div class="row" style="width: 390px; height: 70px">
                          <div class="col-md-12">
                            <span class="position">{{row.content}}</span>
                          </div>
                          <div class="col-sm-12">
                            <span>&nbsp;{{row.date_notify}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="row.status == 1" class="my-notify-hover" style="width: 480px; height: 80px" (click)="editNotify(row.id)">
                  <div class="my-notify item">
                    <div class="testimony-wrap d-flex" style="width: 460px; height: 80px; padding: 10px 0 10px 10px">
                      <div class="user-img mb-5" style="width: 80px">
                        <img src="{{row.bill.account.avatar_url}}" alt=""
                             style="border-radius: 50%; width: 50px; height: 50px">
                      </div>
                      <div class="">
                        <div class="row" style="width: 390px; height: 70px">
                          <div class="col-md-12">
                            <span class="position">{{row.content}}</span>
                          </div>
                          <div class="col-sm-12">
                            <span>&nbsp;{{row.date_notify}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>

<!--        <div class="my-notify item">-->
<!--          <div class="testimony-wrap d-flex" style="width: 100%; height: 80px; padding-bottom: 10px; padding-top: 10px">-->
<!--            <div class="user-img mb-5">-->
<!--              <img src="https://media-cdn-v2.laodong.vn/Storage/NewsPortal/2021/5/26/913299/Ngan-Ha25.jpg" alt=""-->
<!--                   style="border-radius: 50%; width: 50px; height: 50px">-->
<!--            </div>-->
<!--            <div class="">-->
<!--              <div class="row">-->
<!--                <div class="col-md-12">-->
<!--                  <span class="name">Hong Nam</span>-->
<!--                  <span>&ensp;|&ensp;</span>-->
<!--                  <span class="position">đã đánh giá một homestay của bạn</span>-->
<!--                </div>-->
<!--                <div class="col-sm-4">-->
<!--                  <span>&nbsp;2022-12-12</span>-->
<!--                </div>-->
<!--                <div class="col-sm-8">-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="my-notify item">-->
<!--          <div class="testimony-wrap d-flex" style="width: 100%; height: 80px; padding-bottom: 10px; padding-top: 10px">-->
<!--            <div class="user-img mb-5">-->
<!--              <img src="https://media-cdn-v2.laodong.vn/Storage/NewsPortal/2021/5/26/913299/Ngan-Ha25.jpg" alt=""-->
<!--                   style="border-radius: 50%; width: 50px; height: 50px">-->
<!--            </div>-->
<!--            <div class="">-->
<!--              <div class="row">-->
<!--                <div class="col-md-12">-->
<!--                  <span class="name">Hong Nam</span>-->
<!--                  <span>&ensp;|&ensp;</span>-->
<!--                  <span class="position">đã nhận xét một homestay của bạn</span>-->
<!--                </div>-->
<!--                <div class="col-sm-4">-->
<!--                  <span>&nbsp;2022-12-12</span>-->
<!--                </div>-->
<!--                <div class="col-sm-8">-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="my-notify item">-->
<!--          <div class="testimony-wrap d-flex" style="width: 100%; height: 80px; padding-bottom: 10px; padding-top: 10px">-->
<!--            <div class="user-img mb-5">-->
<!--              <img src="https://media-cdn-v2.laodong.vn/Storage/NewsPortal/2021/5/26/913299/Ngan-Ha25.jpg" alt=""-->
<!--                   style="border-radius: 50%; width: 50px; height: 50px">-->
<!--            </div>-->
<!--            <div class="">-->
<!--              <div class="row">-->
<!--                <div class="col-md-12">-->
<!--                  <span class="name">Hong Nam</span>-->
<!--                  <span>&ensp;|&ensp;</span>-->
<!--                  <span class="position">đã hủy thuê một homestay của bạn</span>-->
<!--                </div>-->
<!--                <div class="col-sm-4">-->
<!--                  <span>&nbsp;2022-12-12</span>-->
<!--                </div>-->
<!--                <div class="col-sm-8">-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="my-notify item">-->
<!--          <div class="testimony-wrap d-flex" style="width: 100%; height: 80px; padding-bottom: 10px; padding-top: 10px">-->
<!--            <div class="user-img mb-5">-->
<!--              <img src="https://media-cdn-v2.laodong.vn/Storage/NewsPortal/2021/5/26/913299/Ngan-Ha25.jpg" alt=""-->
<!--                   style="border-radius: 50%; width: 50px; height: 50px">-->
<!--            </div>-->
<!--            <div class="">-->
<!--              <div class="row">-->
<!--                <div class="col-md-12">-->
<!--                  <span class="name">Hong Nam</span>-->
<!--                  <span>&ensp;|&ensp;</span>-->
<!--                  <span class="position">đã đặt lịch thuê một homestay của bạn</span>-->
<!--                </div>-->
<!--                <div class="col-sm-6">-->
<!--                  <span>&nbsp;2022-12-12</span>-->
<!--                </div>-->
<!--                <div class="col-sm-6">-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
  </div>

  <div mat-dialog-actions [align]="'end'">
    <button mat-raised-button mat-dialog-close>Đóng</button>
  </div>
</form>
