<form class="example-form">
  <h1 mat-dialog-title>XÁC NHẬN THUÊ NHÀ</h1>
  <mat-error id="error-registration-confirmation"></mat-error>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Tên Nhà</mat-label>
    <input type="text" matInput readonly value="{{myBill.homestay.name}}">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Người đặt</mat-label>
    <input type="text" matInput readonly value="{{myBill.account.name}}">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Địa chỉ</mat-label>
    <input type="text" matInput readonly value="{{myBill.homestay.address}}, {{myBill.homestay.city.name}}">
  </mat-form-field>
  <div class="row">
    <div class="col-sm-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Ngày Bắt Đầu</mat-label>
        <input type="date" matInput readonly value="{{myBill.start_date}}">
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Ngày Kết Thúc</mat-label>
        <input type="date" matInput readonly value="{{myBill.end_date}}">
      </mat-form-field>
    </div>
    <div class="col-sm-2">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Số Ngày Đặt</mat-label>
        <input type="number" matInput readonly value="{{number_date}}">
      </mat-form-field>
    </div>
    <div class="col-sm-10">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Giá Tiền</mat-label>
        <input type="text" matInput placeholder="VNĐ" readonly value="{{myBill.price | currency :'đ' :true: '1.0-0'}}">
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions [align]="'end'">
    <button mat-raised-button mat-dialog-close>Đóng</button>
    <button type="submit" mat-raised-button color="warn" (click)="cancellingInvoiceClient(myBill.id)" id="cancelling-invoice-client" hidden>Xác Nhận Hủy Thuê</button>
    <button type="submit" mat-raised-button color="warn" (click)="cancellingInvoiceHost(myBill.id)" id="cancelling-invoice-host" hidden>Xác Nhận Hủy Thuê</button>
    <button type="submit" mat-raised-button color="primary" (click)="HomestayCheckIn(myBill.id)" id="check-in-bill-client" hidden>Nhận Phòng</button>
    <button type="submit" mat-raised-button color="primary" (click)="HomestayCheckOut(myBill.id)" id="check-out-bill-client" hidden>Trả Phòng</button>
    <button type="submit" mat-raised-button color="primary" (click)="HomestayConfirmHost(myBill.id)" id="confirm-host" hidden>Xác Nhận Thuê</button>
  </div>
</form>
