<div class="hero-wrap js-fullheight" style="background-image: url('https://www.anhdulich.vn/storage/album-anh/hue/cau-truong-tien.jpg'); height: 680px">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
         data-scrollax-parent="true">
      <div class="col-md-9 text-center" style="margin-top: 24%">
        <!--        <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span-->
        <!--          class="mr-2"><a routerLink="home">Trang Chủ</a></span>|<span>&nbsp;Giới Thiệu</span></p>-->
        <!--        <br>-->
        <h1 class="mb-3 bread" style="font-size: 70px">Giới Thiệu</h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section">
  <div class="container">
    <div class="row d-md-flex">
      <div class="col-md-6 img about-image" style="background-image: url(assets/images/about.jpg);">
      </div>
      <div class="col-md-6 p-md-5">
        <div class="row">
          <div class="col-md-12 nav-link-wrap mb-5">
            <div class="nav nav-pills" id="v-pills-tab" role="tablist"
                 aria-orientation="vertical">
              <a class="nav-link active" id="v-pills-whatwedo-tab" data-toggle="pill"
                 href="#v-pills-whatwedo" role="tab" aria-controls="v-pills-whatwedo"
                 aria-selected="true">Công việc</a>

              <a class="nav-link" id="v-pills-mission-tab" data-toggle="pill" href="#v-pills-mission"
                 role="tab" aria-controls="v-pills-mission" aria-selected="false">Nhiệm vụ</a>

              <a class="nav-link" id="v-pills-goal-tab" data-toggle="pill" href="#v-pills-goal" role="tab"
                 aria-controls="v-pills-goal" aria-selected="false">Mục tiêu</a>
            </div>
          </div>
          <div class="col-md-12 d-flex align-items-center">

            <div class="tab-content" id="v-pills-tabContent">

              <div class="tab-pane fade show active" id="v-pills-whatwedo" role="tabpanel"
                   aria-labelledby="v-pills-whatwedo-tab">
                <div>
                  <h2 class="mb-4">Cung cấp dịch vụ lưu trữ đáng tin cậy</h2>
                  <p>Xa xa, đằng sau những ngọn núi chữ, xa những quốc gia Vokalia và
                    Consonantia, có những văn tự mù mịt. Tách ra, họ sống trong Bookmarksgrove ngay tại bờ biển
                    Semantics,
                    một đại dương ngôn ngữ rộng lớn.</p>
                  <p>Bản thân nỗi đau là rất nhiều nỗi đau Họ không biết niềm vui,
                    một số người đang gánh chịu hậu quả</p>
                </div>
              </div>

              <div class="tab-pane fade" id="v-pills-mission" role="tabpanel"
                   aria-labelledby="v-pills-mission-tab">
                <div>
                  <h2 class="mb-4">Giải pháp web đặc biệt</h2>
                  <p>Xa xa, đằng sau những ngọn núi chữ, xa những quốc gia Vokalia và
                    Consonantia, có những văn tự mù mịt. Tách ra, họ sống trong Bookmarksgrove ngay tại bờ biển
                    Semantics,
                    một đại dương ngôn ngữ rộng lớn.</p>
                  <p>Bản thân nỗi đau là rất nhiều nỗi đau Họ không biết niềm vui,
                    một số người đang gánh chịu hậu quả</p>
                </div>
              </div>

              <div class="tab-pane fade" id="v-pills-goal" role="tabpanel"
                   aria-labelledby="v-pills-goal-tab">
                <div>
                  <h2 class="mb-4">Giúp khách hàng của chúng tôi</h2>
                  <p>Xa xa, đằng sau những ngọn núi chữ, xa những quốc gia Vokalia và
                    Consonantia, có những văn tự mù mịt. Tách ra, họ sống trong Bookmarksgrove ngay tại bờ biển
                    Semantics,
                    một đại dương ngôn ngữ rộng lớn.</p>
                  <p>Bản thân nỗi đau là rất nhiều nỗi đau Họ không biết niềm vui,
                    một số người đang gánh chịu hậu quả</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-start mb-5 pb-3">
      <div class="col-md-7 heading-section">
        <h2 class="mb-4"><strong>Câu hỏi
        </strong> Thường gặp</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="accordion">
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">
                  <a class="card-link" data-toggle="collapse" href="#menuone" aria-expanded="true"
                     aria-controls="menuone">Khi cô ấy đến những ngọn đồi đầu tiên?
                    <span class="collapsed">
                                                  <i class="icon-plus-circle"></i>
                                              </span>
                    <span class="expanded">
                                                  <i class="icon-minus-circle"></i>
                                              </span>
                  </a>
                </div>
                <div id="menuone" class="collapse show">
                  <div class="card-body">
                    <p>Khi đến những ngọn đồi đầu tiên của Dãy núi Italic, cô đã có cái nhìn cuối cùng về đường chân trời của Bookmarksgrove quê hương cô,
                      dòng tiêu đề của Làng Alphabet và dòng phụ trên con đường của riêng cô, Line Lane. Đáng tiếc,
                      một câu hỏi thần thoại lướt qua má cô, rồi cô tiếp tục đi.</p>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header">
                  <a class="card-link" data-toggle="collapse" href="#menutwo" aria-expanded="false"
                     aria-controls="menutwo">Dãy núi nghiêng, cô ấy đã có một<span class="collapsed"><i
                    class="icon-plus-circle"></i></span><span class="expanded"><i
                    class="icon-minus-circle"></i></span></a>
                </div>
                <div id="menutwo" class="collapse">
                  <div class="card-body">
                    <p>Khi đến những ngọn đồi đầu tiên của Dãy núi Italic,
                      cô đã có cái nhìn cuối cùng về đường chân trời của Bookmarksgrove quê hương cô,
                      dòng tiêu đề của Làng Alphabet và dòng phụ trên con đường của riêng cô, Line Lane.
                      Đáng tiếc, một câu hỏi tu từ lướt qua má cô, rồi cô tiếp tục đi.
                    </p>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header">
                  <a class="card-link" data-toggle="collapse" href="#menu3" aria-expanded="false"
                     aria-controls="menu3"> Đánh dấu trang, tiêu đề? <span class="collapsed"><i
                    class="icon-plus-circle"></i></span><span class="expanded"><i
                    class="icon-minus-circle"></i></span></a>
                </div>
                <div id="menu3" class="collapse">
                  <div class="card-body">
                    <p>Khi đến những ngọn đồi đầu tiên của Dãy núi Italic,
                      cô đã có cái nhìn cuối cùng về đường chân trời của Bookmarksgrove quê hương cô,
                      dòng tiêu đề của Làng Alphabet và dòng phụ trên con đường của riêng cô, Line Lane.
                      Đáng tiếc, một câu hỏi tu từ lướt qua má cô, rồi cô tiếp tục đi.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card">
                <div class="card-header">
                  <a class="card-link" data-toggle="collapse" href="#menu4" aria-expanded="false"
                     aria-controls="menu4">Làng bảng chữ cái và dòng phụ của riêng cô ấy? <span
                    class="collapsed"><i class="icon-plus-circle"></i></span><span
                    class="expanded"><i class="icon-minus-circle"></i></span></a>
                </div>
                <div id="menu4" class="collapse">
                  <div class="card-body">
                    <p>Khi đến những ngọn đồi đầu tiên của Dãy núi Italic,
                      cô đã có cái nhìn cuối cùng về đường chân trời của Bookmarksgrove quê hương cô,
                      dòng tiêu đề của Làng Alphabet và dòng phụ trên con đường của riêng cô, Line Lane.
                      Đáng tiếc, một câu hỏi tu từ lướt qua má cô, rồi cô tiếp tục đi.
                    </p>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header">
                  <a class="card-link" data-toggle="collapse" href="#menu5" aria-expanded="false"
                     aria-controls="menu5">Sau đó cô ấy tiếp tục con đường của mình? <span class="collapsed"><i
                    class="icon-plus-circle"></i></span><span class="expanded"><i
                    class="icon-minus-circle"></i></span></a>
                </div>
                <div id="menu5" class="collapse">
                  <div class="card-body">
                    <p>Khi đến những ngọn đồi đầu tiên của Dãy núi Italic,
                      cô đã có cái nhìn cuối cùng về đường chân trời của Bookmarksgrove quê hương cô,
                      dòng tiêu đề của Làng Alphabet và dòng phụ trên con đường của riêng cô, Line Lane.
                      Đáng tiếc, một câu hỏi tu từ lướt qua má cô, rồi cô tiếp tục đi.
                    </p>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header">
                  <a class="card-link" data-toggle="collapse" href="#menu6" aria-expanded="false"
                     aria-controls="menu6">Đường chân trời của quê hương cô Bookmarksgrove? <span
                    class="collapsed"><i class="icon-plus-circle"></i></span><span
                    class="expanded"><i class="icon-minus-circle"></i></span></a>
                </div>
                <div id="menu6" class="collapse">
                  <div class="card-body">
                    <p>Khi đến những ngọn đồi đầu tiên của Dãy núi Italic,
                      cô đã có cái nhìn cuối cùng về đường chân trời của Bookmarksgrove quê hương cô,
                      dòng tiêu đề của Làng Alphabet và dòng phụ trên con đường của riêng cô, Line Lane.
                      Đáng tiếc, một câu hỏi tu từ lướt qua má cô, rồi cô tiếp tục đi.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
